.wrapper
  position: relative
  height: 100%
  overflow: auto
  padding: 10px
  box-sizing: border-box

.top
  position: relative
  display: flex
  height: 600px

.panelBox
  flex: 1
  height: 100%

.formBox
  height: 50px

.mapBox
  height: calc( 100% - 50px )

.infoBox
  margin-left: 8px
  width: 380px
  height: 100%
.imgBox
  width: 80px
