@import 'src/themeVariable'

.wapper
  position: relative

.sliderAlt
  position: absolute
  display: none
  bottom: 20px
  left: 0
  padding: 6px 8px
  font-size: 12px
  color: #fff
  background-color: rgba(0, 0, 0, 0.85)
  border-radius: 6px

.time
  position: absolute
  top: 11px
  left: 4px
  font-size: 12px
