.wrapper
  display: inline-block
  height: 20px
  line-height: 20px
  text-indent: 18px
  font-size: 14px
  color: #ffffff
.night
  background-image: url('~images/situation/dark/box_title_normal.png')
  background-size: auto 100%
  background-repeat: no-repeat
.day
  background-image: url('~images/situation/dark/box_title_normal_white.png')
  background-size: auto 100%
  background-repeat: no-repeat