.wrapper
    position: relative
    height: 100%
    overflow: auto
    .panel
        padding: 8px 0
        .title
            font-size: 14px
            padding: 4px 0
    .fitTable
        max-height: 320px
        overflow: auto