@import "src/themeVariable"
.wrapper,.map
  width: 100%
  height: 100%
.bottom
  width: 100%
  position: absolute
  z-index: 9999
  bottom: 50px
  display: flex
  justify-content: center
  button
    margin-right: 20px
.preview
  width: 400px
  min-height: 200px
  height: auto
  background: $background-color-opacity90
  position: absolute
  z-index: 9999
  top: 180px
  right: 30px
  .sourceSrc
    width: 100%
    height: 200px
    display: flex
    justify-content: center
    align-items: center
.title
  color: $text-color2
  background: $background-color-linear
  width: 100%
  height: 30px
  line-height: 30px
  padding-left: 10px
  font-size: 14px
  margin: 0
  box-sizing: border-box

.infoWrapper
  background-image: url(~images/core/wisdomCommand/alertBox.svg)
  background-repeat: no-repeat
  background-size: cover
  font-size: 12px
  color: #00f4fa
  padding: 0 4px
  min-width: 300px
  height: 78px
  box-sizing: border-box
