@import utils
@import 'themeVariable'

.wrapper
  position: relative
  width: 100%
  height: 100%

.mapBox
  position: relative
  width: 100%
  height: 100%
  .map
    position: relative
    z-index: 9
    width: 100%
    height: 100%

.tableBox
  position: absolute
  z-index: 19
  top: 10px
  left: 10px
  padding: 4px
  width: 368px
  background-color: $background-color
  color: $text-color
  font-size: 14px
  .label
    @extend .flexBetween
    padding-left: 10px
  .table
    padding: 0 10px
    height: 500px
    overflow: auto

.actions
  position: absolute
  z-index: 19
  bottom: 0
  left: 50%
  padding: 10px 20px
  background-color: #fff
  transform: translate(-50%, 0)
