.wrapper
    width: 100%
    height: 100%
    padding: 16px
    box-sizing: border-box
    overflow: auto
    .boxData
        margin-bottom: 24px
        .boxTitle
            font-size: 14px
            font-weight: 600
        .boxContent
            padding: 8px
        .panelTitle
            color: #00f0fe
            .iconfont
                font-size: 12px !important
    .dataRow
        .colTitle
            text-align: right