.wrapper
  display: flex
  height: 100px
  >section
    &:nth-child(1)
      width: 100px
    &:nth-child(2)
      flex: 1

.img
  width: 80px !important
  height: 80px !important

.info
  display: flex
  margin-bottom: 2px
  height: 28px
  line-height: 28px
  background: linear-gradient(to right,rgba(1, 146, 236, 1) 0%,rgba(1, 146, 236, 0.3) 70% ,rgba(1, 146, 236, 0.0) 100%)
  >div
    font-size: 12px
    &:nth-child(1)
      margin-right: 4px
      text-indent: 4px
      color: #accae8
    &:nth-child(2)
      text-align: left
      color: #ffffff

.mark
  color: #93bee5
  >i
    margin-left: 4px

.data
  cursor: pointer
