
@import "src/themeVariable"
.modelTitle
  height: 34px
  line-height: 34px
  padding-left: 4px
  margin-bottom: 20px
  color: $text-color2
  font-size: 14px
  margin-top: 20px
.iconColor
  color: #59bdff
  margin-right: 6px
  font-size: 14px
.echartHeight
  height: 300px
