@import "themeVariable"

.WisdomSearch__RadarTable
  .ant-table-row-selected
    background: linear-gradient(to right, rgb(90 119 145), rgb(19, 59, 104)) !important
  .ant-table-row-selected-click
    background: $table-selected-background-color-linear !important
    color: $text-color2!important
    border-radius: 0!important
