.wapper
  position: relative
  padding: 8px
  height: 100%
  z-index: 30000
  overflow-y: scroll
  .boxData
    margin-bottom: 32px
    .boxTitle
      font-size: 14px
      font-weight: 600
      .boxContent
        padding: 8px
    .mapBox
      height: 640px
    .boxInfo
      .boxInfoState
        padding: 8px

    .stateTxt,.addressTxt
      display: inline-block
      padding: 4px 8px
      font-size: 12px
      color: #fff
    .addressTxt
      color: #000
      background: #ccc
    .stateBg1
      background: rgba(25, 197, 46, 0.8)
    .stateBg2
      background: rgba(497, 197, 25, 0.8)
    .stateBg3
      background: rgba(235, 5,26, 0.8)
    .footer
      text-align: center
