.wrapper
  position: relative
  height: calc( 100% - 80px )

.imgBox
  position: relative
  height: 60px
  width: 60px
  overflow: hidden

.nanshanAlt
  position: absolute
  top: 0
  right: 0
  width: 18px
