.wapper
    position: relative
    padding: 8px
    height: 1500px
    z-index: 30000
    
    .boxData
        margin-bottom: 24px
        .boxTitle
            position: relative
            font-size: 14px
            font-weight: 600
        .boxContent
            padding: 8px
            max-height: 360px
            overflow-y: auto
    .boxTabs
        text-align: left
        cursor: pointer
    .tabsBtn
        margin-right: 8px
