@import "themeVariable"
.wrapper
    width: 800px
    height: 600px
    padding: 20px 40px
    box-sizing: border-box
    overflow-y: auto
.form
    border-bottom: $border
    padding-bottom: 10px
    margin-bottom: 20px
    overflow: hidden
.table
    height: 400px
    width: 100%
.actionBtns
    width: 100%
    text-align: center
