.panel
    padding: 8px
    display: inline-block
    margin: 0 16px 16px 0
    background-color: #063158
    opacity: 0.8
    .imgBox
        display: flex
        .imgItem
            display: inline-block
            margin-right: 0
            border: 1px solid #0a6eab
            .img
                width: 120px
        .imgItem:last-child
            margin: 0
    .txt
        font-size: 14px
        padding: 4px 0
