.wrapper
  position: relative
  width: 50px
  height: 114px
  // cursor: pointer
  user-select: none
  backdrop-filter: blur(1px)

.wrapperDef
  @extend .wrapper
  background-image: url("/images/navButton/nav_def.png")

.wrapperAct
  @extend .wrapper
  background-image: url("/images/navButton/nav_act.png")

.icon
  // position: absolute
  // top: 52%
  width: 34px
  height: 36px
  // left: 50%
  // transform: translate(-50%, -50%)
  transform: translate(15%, 38%)
.cusours
  position: absolute
  top: 26%
  cursor: pointer
  width: 50px
  height: 66px
