.wrapper
  height: 100%
  cursor: pointer
  >footer
    position: absolute
    z-index: 19
    bottom: 0
    left: 0

.map
  position: relative
  z-index: 9
  height: 100%
.popup
  width: 300px

.shipgif
  position: relative
  width: 56px
  height: 56px
  left: -28px
  top: -40px
  background: url('../../../../images/header/1.gif') no-repeat
  background-size: 100% 100%
  background-position: center
  
  .ship
    position: absolute
    bottom: 14px
    left: 10px
    width: 45px!important
    height: 15px!important
