@import "src/themeVariable"
.wrapper
    padding: 20px
    color: $text-color
    div
        margin-bottom: 20px
        .title 
            display: inline-block
            width: 120px
            text-align: right
            margin-right: 6px
.input
    width: 200px
.bottom
    width: 100%
    text-align: center
    button
        margin-right: 10px

.required::before
    content: "*"
    position: relative
    left: -4px
    top: 4px
    color: red
.shipInfo
    display: flex
    div
        display: flex
        flex-direction: column















