.wrapper
    position: relative
    .img
        width: 28px
        height: 28px
    .dropdown-content
        max-height: 500px
        overflow-y: auto
    .otherImg
        width: 94px
        height: 22px