.wrapper
    position: relative
    width: 100%
    height: 100%
    .condition
        padding: 16px 0
    .boxData
        margin-bottom: 24px
    .boxTabs
        text-align: center
        cursor: pointer
        .tabItem
            display: inline-block
            padding: 8px 24px
            margin: 0 16px
            font-size: 14px
            background: #cecece
            transition: 0.3s
        .tabItem:hover,.tabItemActive
            background: #000
            color: #fff
    .boxEchartsNode
        height: 500px
    .panel
        .panelTitle    
            height: 30px
            line-height: 30px
            .iconf
                display: inline-block
                font-size: 12px !important
                margin-right: 8px
