.wrapper
  text-align: left
  footer
    text-align: center

.content
  display: flex
  flex-wrap: wrap
  padding: 0 5px !important
  width: 100%

.formItemDefault
  margin-bottom: 8px

.formItemTwo
  padding: 0 5px !important
  margin-bottom: 8px
  width: 50%

.formItemThree
  padding: 0 5px !important
  margin-bottom: 8px
  width: 33.33%

.row
  padding: 0 5px !important
  width: 100%
