.Common__RadioGroupTabs
  .ant-tabs
    color: #59bdff
    .ant-tabs-nav
      &::before
        border-bottom-color: #2f689e
      .ant-tabs-ink-bar
        width: 97px
        height: 3px
        background-color: #00f0fe
      .ant-tabs-tab:hover
        color: #00f0fe
      .ant-tabs-tab.ant-tabs-tab-active
        .ant-tabs-tab-btn
          color: #00f0fe
