.wrapper
  display: flex
  .tabsBox
    width: 32px
    height: 32px
    text-align: center
  .active
    background-image: url(~images/wisdomSearch/active_box.png)
  .icon
    text-align: center
    font-size: 20px
  .label
    line-height: 32px
  .topsSvg
    position: absolute
    top: -16px
    left: -28px

