@import "themeVariable"

.wrapper
  position: relative

.map
  position: relative
  z-index: 9
  height: 700px

.table
  position: absolute
  z-index: 19
  top: 8px
  left: 8px
  width: 360px
  height: 600px
  background-color: $background-color2
  >header
    height: 24px
    text-align: right
  >section
    height: calc( 100% - 24px )
