.wapper
    position: relative
    padding: 8px
    z-index: 30000
    .boxEchartsNode
        height: 500px
    .boxTabs
        text-align: left
        cursor: pointer
    .tabsBtn
        margin-right: 8px
