.wrapper
  padding-top: 10px
  height: 100%
  box-sizing: border-box
  .detail
    height: 100%
    width: 36%
    padding-left: 2%
  .btn
    color: #1677ff
    margin-right: 6px
    cursor: pointer
