
.wrapper
    width: 600px
    height: 300px
    overflow-y: scroll
    
    .rowTowCommon
        // background-color: #0b2c4f
        color: #a6cdff
        width: 500px
        margin-left: 46px
        font-size: 14px
    .labelRow
        color: #fff
        background-color: #0b579d

    .borderCol
        display: flex !important
        justify-content: flex-end
        line-height: 30px
    .detailContent
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        line-height: 30px
.topTitle
    color: #a6cdff
    padding: 10px 20px 10px 20px

    box-sizing: border-box
    border-bottom: 1px solid #a6cdff

