@import utils

.wrapper
  margin-bottom: 10px
  padding: 0 10px
  line-height: 30px
  background-image: url(~images/core/entryExitRecords/even.png)
  background-size: 100% 100%
  background-repeat: no-repeat
  .flex
    @extend .flexBetween
    .btn
      cursor: pointer
