@import "src/themeVariable"
.top
  width: 100%
  margin: 4px 10px
.bottom
  display: flex
  align-items: center
  font-size: 12px
  .left
    margin-right: 4px
.right
  margin-left: 4px
  flex: 1
  display: flex
  flex-direction: column
  font-size: 14px
  div
    display: flex
.stepLength
  display: flex
  flex-direction: row
  align-items: center
  width: 220px
  height: 30px
  margin-right: 10px
  font-size: 14px
  span
    display: inline-block
    width: -28px
  div
    flex: 1
.middleText
  span
    color: $text-color!important
.btn
  width: 34px
  margin-bottom: 2px
  font-size: 12px
.stepVal
  width: 60px!important
  margin-left: 14px

  //预置位 
.precast
  width: 100%
  min-height: 28px
  height: auto
  max-height: 140px
  border: $border
  display: flex
  flex-direction: column
  margin-top: 6px
.goOnFollow
  height: 34px
  width: 100%
  display: flex
  align-items: center
.actionBtns
  margin-bottom: 20px
  .left
    width: 140px
    float: left
  .right
    float: left
.time
  font-size: 12px
  margin-left: 20px
