.wrapper
    position: relative
    height: 100%
    background-color: #06233e
    box-sizing: border-box
    padding:10px
    border-radius: 8px
.detailBtn
  margin-right: 4px
  color: #00edfe
  cursor: pointer