.wrapper
  position: relative
  width: 103px
  height: 72px
  background-image: url('~images/situation/dark/light.png')
  background-size: 103px 72px
  background-position: 0 0
  background-repeat: no-repeat

.content
  position: absolute
  top: 12px
  left: 20px
  padding-top: 2px
  padding-left: 18px
  width: 57px
  height: 28px
  background-image: url('~images/situation/dark/warning_total.png')
  background-size: 57px 28px
  background-position: 0 0
  background-repeat: no-repeat
  >span
    font-size: 14px
    font-weight: 600
    color: transparent
    background: linear-gradient(180deg,#fff,#35a7ff)
    -webkit-background-clip: text
