.wrappers
  background: #06233e
  border-radius: 8px
  padding: 20px
  box-sizing: border-box
  .rights
    border-left: solid 1px #2f689e
    height: 840px
    margin-top: 20px
    padding-left: 20px !important
    box-sizing: border-box
  .wrapper
    height: 100%
.conts
  height: 700px
  overflow-y: scroll
  &::-webkit-scrollbar
    display: none
  .btns
    cursor: pointer
    height: 40px
    line-height: 40px
    margin-bottom: 6px
    padding-left: 10px
    padding-right: 20px
    box-sizing: border-box
    .icons:hover
      color: red
  &:hover
    &::-webkit-scrollbar
      display: block
.active
  background-color: #092c54

.noactive
  border: none
.hoves:hover
  color: #40a9ff
.hoves
  padding-left: 10px
  display: flex
  justify-content: space-between
  color: #a6cdff

.deviceName
  height: 40px
  line-height: 40px
  flex: 1
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  cursor: pointer
