@import "src/themeVariable"
.wrapper
  height: 200px
  padding: 10px
  display: flex
  align-items: center
.left
  display: flex
.middle
  margin-left: 20px
  margin-top: 20px
  flex: 1
.stepLength
  display: flex
  flex-direction: row
  align-items: center
  width: 250px
  height: 30px
  margin-right: 10px
  font-size: 14px
  margin-top: 20px
  span
    display: inline-block
    width: -28px
  div
    flex: 1
.middleText
  span
    color: $text-color!important
.btn
  width: 60px
  margin-bottom: 2px
.stepVal
  width: 60px!important
  margin-left: 14px

  //预置位 
.right
  width: 330px    
  height: 170px
  border: $border
  display: flex
  flex-direction: column
 