.wrapper
  position: relative
  height: 100%

.multiple
  section
    display: flex
    div
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      &:nth-child(1)
        padding-right: 4px

.tableComponent
  position: relative
  height: 100%

.tableActionButton
  padding: 0 !important

.btnStyle
  color: #1677ff
  cursor: pointer

// 内容过长省略展示
.tooltip
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis