.VideoMultiSegment__Slider
  >.ant-slider-track
    background-color: initial !important
  &:hover
    >.ant-slider-track
      background-color: initial

.VideoMultiSegment__Slider .segment-ui
  position: absolute
  top: 4px
  height: 4px
  background-color: #98cdff
