@import "src"
@import "src/themeVariable"
.wrapper
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  padding: 20px 10px
  box-sizing: border-box
.detailBtn
  color: $primary-color
  margin-right: 6px
  cursor: pointer
.chooseClueTitle
  color: $text-color
  border-bottom: $border
  padding-bottom: 8px
  font-size: 12px
.chooseClueInfo
  min-height: 100px
  height: auto
  margin-top: 20px
.clueInfoItem
  display: flex
  margin-bottom: 6px
  flex-wrap: wrap
  .clueInfoTitle
    display: inline-block
    text-align: right
    width: 80px
    color: $text-color
    font-size: 12px
    line-height: 30px
.tableKeyTag
  font-weight: bold
  display: inline-block
  width: 60px
  text-align: right
  margin-right: 10px
.chooseClueConfirm
  text-align: center
  margin: 20px 0
