.chartsWrapper
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  padding: 20px 10px
  box-sizing: border-box
.echartCont
  height: 300px
  width: 100%
.leftTop
  display: flex
  justify-content: space-around
