.wrapper
  position: relative
  >section
    margin-top: 16px
    text-align: center
  >footer
    margin-top: 24px
    text-align: center
  .colorOne
    display: inline-block
    width: 14px
    height: 14px
    border-radius: 50%
    background: rgb(190, 37, 240)
  .colorTwo
    display: inline-block
    width: 14px
    height: 14px
    border-radius: 50%
    background: rgb(70, 204, 255)
  .colorThree
    display: inline-block
    width: 14px
    height: 14px
    border-radius: 50%
    background: rgb(37, 240, 118)
