@import "src/themeVariable"

.actionGroup button
  margin-right: 10px
.wrapper
  padding: 20px 10px
  height: 100%
  color: $text-color
  box-sizing: border-box
  .content
    width: 100%
    height: 100%
    margin-top: 10px
    .modelList
      position: relative
      height: 100%
    .modelDetail
      flex: 1

.radio
  padding-bottom: 20px
