@import "src/themeVariable"
.echartCont
  height: 300px
  width: 100%
.leftTop
  display: flex
  justify-content: space-around
  align-items: center
  margin-bottom: 8px
  .title
    font-size: 18px
    font-weight: 800
.content
  padding-top: 20px
  .itemRow
    text-align: center
    margin-bottom: 8px
    display: flex
    justify-content: space-between
    .itemCol
      flex: 1
      color: $text-color
