.wrapper
  position: relative
  display: flex
  height: 100%

.videoBox
  position: relative
  flex: 1
  padding: 4px

.videoList
  padding: 4px
  width: 180px
  height: 100%

.videoCard
  position: relative
  margin-bottom: 8px
  >footer
    text-align: center
    line-height: 30px
    font-size: 14px

.videoCardSel
  @extend .videoCard
  border: 1px solid #eeee
  box-sizing: border-box

.videoImg
  position: relative
  cursor: pointer

.videoAlt
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 24px
  line-height: 24px
  font-size: 12px
  text-align: center
  color: #fff
  background-color: rgba(0, 0, 0, 0.525)

.loading
  position: absolute
  top: 30%
  left: 50%
  transform: translateX(-50%)

.list
  height: calc( 100% - 30px )
  overflow-x: hidden
  overflow-y: auto

.page
  height: 30px

.imgLoading
  position: absolute
  top: 40%
  left: 50%
  padding: 8px
  transform: translateX(-50%)
  background-color: rgba(0, 0, 0, 0.525)
  border-radius: 4px
.videoButtons
    position: absolute
    top: 0px
    right: 0px