.wrapper
  position: absolute
  bottom: 0
  left: 0
.topRight
  .line
    position: absolute
    bottom: 1px
    left: 8px
    width: 2px
    height: 16px
    transform: rotate(45deg)

  .content
    position: absolute
    bottom: 14px
    left: 14px

  .notLineContent
    position: absolute
    bottom: 0
    left: 0
.bottomRight
  .line
    position: absolute
    bottom: -13px
    left: 8px
    width: 2px
    height: 16px
    transform: rotate(135deg)

  .content
    position: absolute
    top: 10px
    left: 14px

  .notLineContent
    position: absolute
    bottom: 0
    left: 0