.wrapper
  position: relative
  height: 100%
  overflow-x: hidden
  overflow-y: auto

// 卡片样式
.cardTitle
  display: flex

.titleText
  flex: 1
  font-size: 16px
  font-weight: bolder

.typeTitle
  font-size: 16px
