.wrapper
  position: relative
  height: 100%
  overflow: hidden

.but
  position: absolute
  top: 50%
  width: 18px
  height: 29px
  transform: translateY(-50%)
  cursor: pointer

.prev
  @extend .but
  left: 0

.next
  @extend .but
  right: 0

.content
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  white-space: nowrap

.contentAnim
  @extend  .content
  transition: transform 1s

.box
  display: inline-block
  width: 50%
  height: 82px
