@import "themeVariable"
.wrapper
    width: 100%
    height: 100%
    position: relative
    .mapContainer
        width: 100%
        height: 100%
    .flowData
        position: absolute
        top: 4px
        left: 4px
        z-index: 999
        width: 800px
        border-radius: 10px
        overflow: hidden   
    .rightBtns
        width: auto
        height: 50px
        position: absolute
        right: 4px
        top: 4px
        padding: 0 10px
        z-index: 999
        background-color: rgba(37, 58, 75, 0.77)
        display: flex
        justify-content: left
        align-items: center
.playBtn
  width: 40px
  height: 40px
  line-height: 40px
  text-align: center
  border-radius: 40px
  font-size: 24px
  cursor: pointer
  background-color: $background-color2       
  color: $text-color
  margin-right: 20px