@import 'src/themeVariable'

.wrapper
  height: 100%
  display: flex
  flex-direction: column
  color: $text-color
  .btnBox
    margin-bottom: 6px
  .labelRow
    color: #fff
    text-align: center
    background-color: #0b579d
  .contentBox
    flex: 1
    overflow-y: auto
    .content_common
      padding: 5px 0
      text-align: center
      line-height: 40px
