@import "src/themeVariable"
.wrapper
  height: 260px
  width: 100%

.chartWrapper
  height: 200px
  width: 100%
.leftTop
  display: flex
  justify-content: space-around
  align-items: center
  margin-bottom: 8px
  .title
    font-size: 18px
    font-weight: 800
.chargeManList
  padding-top: 20px
  padding-left: 50px
  box-sizing: border-box
  .itemRow
    margin-bottom: 8px
    display: flex
    justify-content: space-between
    .itemCol
      flex: 1
      color: $text-color
