@import "src/themeVariable"
.wrapper
    padding: 10px 10px
.formItem
    margin-bottom: 6px
    color: $text-color
.returnTime
    position: relative
    top: 2px
.input
    margin: 0 4px
    position: relative
    top: -4px
    width: 60px
.timeSelect
    width: 320px
.RecordInfo
    padding: 4px 10px
    background: rgba(0,0,0,0.6)
    color: #ffffff
    border-radius: 10px
    display: flex
    font-size: 16px
    white-space: nowrap
.activeShip
    background: #235b8d
.shipTag
    cursor: pointer
.startDot
    padding: 4px 10px
    background: rgba(235, 43, 43, 0.6)
    color: #ffffff
    white-space: nowrap
