@import "src/themeVariable"
.wrapper
    width: 100%
    height: 100%
    position: relative
.info
    width: 400px
    height: 87%
    position: absolute
    right: 10px
    top: 10px
    background: $background-color2
    z-index: 999
    padding: 10px
    box-sizing: border-box
    overflow-y: auto
.drawMap
    width: 100%
    height: 90%
