@import utils

.top
  display: flex
  justify-content: space-between
  margin-top: 30px
  margin-bottom: 10px
  font-size: 14px
  font-weight: bold
  @extend .boxShadow
.videoImgList
  display: flex
  flex-wrap: wrap
  .video
    width: 300px
    height: 220px
    margin: 10px
    border: solid 1px #dddddd
    padding: 4px
  .img
    width: 200px
    height: 220px
    margin: 10px
    border: solid 1px #dddddd
    padding: 4px
  .bottom
    display: flex
    justify-content: space-between
    margin-top: 6px
