@import utils

.contents
  height: 374px
.echartCont
  height: 300px
  width: 100%
.leftTop
  display: flex
  justify-content: space-around
  :global(.ant-radio-button-wrapper)
    background: transparent
    border: none
    color: #6181b0
    font-size: 12px
    &:hover
      width: 66px
      height: 30px
      background-image: linear-gradient(0deg, #1c5ca8 0%, #2c80e3 99%), linear-gradient(#00937b, #00937b)
      background-blend-mode: normal, normal
      border-radius: 4px
      line-height: 30px
      color: #FFF
  :global(.ant-radio-button-wrapper:not(:first-child)::before)
    background: transparent

.hourList
  height: calc(100% - 40px)
  overflow-y: auto
  padding: 20px 18%
  overflow: auto
  // padding: 40px
  margin-top: 48px
  box-sizing: border-box
  .hourItem
    @extend .flexBetween
    line-height: 30px
    .name
      color: #79a7e3
    .count
      color: #00f0fe
    .warnTotals
      height: 7px
      background-image: linear-gradient(90deg, rgba(79, 172, 254, 0.1) 0%, #00f2fe 100%)
      border-radius: 3px
      max-width: 180px
