@import "src"
.littleTitle
  color: $text-color0
  margin-bottom: 16px
  font-size: 14px
.iconColor
  color: #59bdff
  margin-right: 6px
  font-size: 14px
.wrapper
  display: flex
  height: 600px
  padding: 10px
  .left
    width: 380px
    margin-right: 40px
    position: relative
  .time
    color: #a6cdff
    position: relative
    top: 4px
    margin: 0 2px
  .right
    flex: 1

.redFlag
  position: relative
.redFlag::before
  display: inline-block
  margin-right: 4px
  color: #ff4d4f
  font-size: 14px
  font-family: SimSun,sans-serif
  line-height: 1
  content: "*"
  position: absolute
  top: 10px
  left: 0
.formAction
  width: 100%
  display: flex
  justify-content: space-between
  position: absolute
  bottom: 40px
.cate
  color: #00f0fe
  margin-left: 10px
  cursor: pointer
  font-size: 12px
