@import "src/themeVariable"
.wrapper
  position: relative
  width: 100%
  height: 100%
  color: $text-color
  display: flex
  flex-direction: column
  .loading
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50% -50%)
    height: 100%
  .title
    color: #fff
  .tagsListStatistics
    text-align: right
    padding: 8px
    font-size: 12px
  .xcRow
    padding: 10px
    display: flex
    .title
      font-size: 14px
      // min-width: 120px
      text-align: right
      line-height: 32px
    .content
      flex: 0 0 480px
      padding: 0 8px 0 0
      display: inline-block
      font-size: 14px
    .btn
      display: inline-block
      margin: 0 4px
  .tagsPanel
    flex: 1
    padding: 10px
    overflow-y: auto
    .panelTitle
      font-size: 14px
    .panelContent
      padding: 8px 0
    .tagsList
      display: flex
      flex-wrap: wrap
      .tagItem
        margin: 0 18px 18px 0
        position: relative
        width: 110px
        height: 52px
        text-align: center
        background: url(../../images/components/label_default.png) no-repeat
        background-size: 100% 100%
        cursor: pointer
        color: #a6cdff
        transition: 0.3s
        .txt
          display: inline-block
          width: 75%
          line-height: 52px

          font-size: 14px
          user-select: none
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
        .btn
          position: absolute
          top: 0px
          right: 6px
          height: 8px
        &:hover
          background: url(../../images/components/label_selected.png) no-repeat
          background-size: 100% 100%
          color: #fff
  .editBox
    padding: 10px
