.wrapper
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  animation: wrapperAn .1s ease-out
  background-color: rgba(0, 0, 0, 0.5)

@keyframes wrapperAn
  0%
    background-color: rgba(0, 0, 0, 0)
  100%
    background-color: rgba(0, 0, 0, 0.5)

.content
  position: absolute
  border-radius: 10px
  animation: contentAn .1s ease-out

@keyframes contentAn
  0%
    transform: scale(0.95, 0.95)
  100%
    transform: scale(1, 1)

.contentFullscreen
  @extend .content
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  border-radius: 0

.contentLarge
  @extend .content
  top: 5vh
  left: 5vw
  width: 90vw
  height: 90vh

.contentMiddle
  @extend .content
  top: 15vh
  left: 15vw
  width: 70vw
  height: 70vh

.contentSmall
  @extend .content
  top: 20vh
  left: 25vw
  width: 50vw
  height: 50vh

.contentMini
  @extend .content
  top: 25vh
  left: 35vw
  width: 30vw
  height: 30vh

.contentAuto
  @extend .content
  left: 50vw
  top: 50vh
  animation: contentAutoAn .1s ease-out
  transform: translate(-50%, -50%)

@keyframes contentAutoAn
  0%
    transform: translate(-50%, -50%) scale(0.95, 0.95)
  100%
    transform: translate(-50%, -50%) scale(1, 1)

.header
  display: flex
  height: 40px
  line-height: 40px
  font-size: 16px
  border-bottom: solid 1px #eee
  box-sizing: border-box

.title
  flex: 1
  text-indent: 10px
  font-weight: 500
  color: #333
  text-align: left
  font-size: 16px

.closeButton
  width: 40px !important
  height: 40px !important

.body
  display: inline-block
  width: 100%
  height: calc( 100% - 40px )
  background-color: #fff
