.targetInfo
    position: relative
    margin: 10px 0 0 0
    padding: 8px
    background: #094883
    .targetImgBox
        padding: 16px 0
        text-align: center
        .targetImg
            width: 90%
            max-width: 160px
            border-radius: 4px
    .targetInfoBox
        font-size: 14px
        .txt
            text-align: left
            color: #fff
        .txtLabel
            padding: 4px 0
            overflow: hidden
            white-space: nowrap
        .txtRow
            padding: 4px 0
            font-weight: 600
    .btnJudgment
        color: #00f0fe
        cursor: pointer