@import 'themeVariable'
.button
    margin-right: 6px
.listTop
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: $border
    padding-bottom: 4px
.selectedCount
    color: $text-color1
    padding: 0 4px
.listItem
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
.deviceList
    height: 420px
    overflow: auto
    padding-right: 20px
    box-sizing: border-box
