.wrapper
  position: relative
  padding-top: 16px
  padding-left: 16px
  padding-right: 16px
  margin-bottom: 16px
  width: 400px
  height: 720px
  overflow-x: hidden
  overflow-y: auto

.chart
  height: 180px

.options
  margin-bottom: 4px
