.wrapper
  height: 100%
  position: absolute
  z-index: 20
.content
  display: flex
  height: calc( 100% - 30px )
  overflow-x: auto
  >section
    flex: 1
    margin-right: 20px
    >header
      margin-top: 6px
      text-align: right
      >div
        display: inline-block
    .placeName
      text-align: left

.cardContent
  height: calc( 100% - 50px )

.riskType1
  color: #ff2f25 !important
.riskType2
  color: #FFA517 !important
.riskType3
  color: #F4FB34 !important
.riskType4
  color: #25F076 !important

.selectLabel
  margin-right: 8px
  font-size: 12px
  color: #d5e4fa

.placeSelect
  width: 180px

.selectItem
  text-align: left

.placeVideo
  padding-top: 10px
  height: 100%
  width: 100%
  box-sizing: border-box

.placeCameraAlt
  margin-top: 40px
  text-align: center
  font-size: 12px
  color: #999
