.wrapper
    display: flex
    justify-content: space-between
    .imageBox
        width: 40%
    .content
        width: 55%
        .topLable
            color: #fff
            font-size: 16px
            line-height: 30px
            margin-bottom: 6px
        .lable
            line-height: 32px