@import utils
@import "src/themeVariable"
.wrapper
    width: 100%
    height: 100%
    position: relative
.drawMap
    width: 100%
    height: 90%
.info
    width: 400px
    height: 87%
    position: absolute
    right: 10px
    top: 10px
    background: $background-color2
    z-index: 999
    padding: 10px
    box-sizing: border-box
    overflow-y: auto

.bottomRight
    width: 100%
    .warningBox
        margin-bottom: 48px
        .warnContent
            display: flex
            line-height: 40px

/** 类table样式 */
.rowCommon
    background-color: rgba(14,55,110, .6)

.rowTowCommon
    background-color: #0b2c4f

.labelRow
    color: #fff
    background-color: #0b579d

.borderCol
    display: flex !important
    justify-content: center
    align-items: center

.detailContent
    @extend .textEllipsis
