.wrapper
  position: relative

.but
  position: absolute
  top: 50%
  width: 18px
  height: 29px
  transform: translateY(-50%)
  cursor: pointer

.prev
  @extend .but
  left: 0

.next
  @extend .but
  right: 0
