.items
  display: flex
  .img
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 12px
    margin-right: 6px
  .icons_text
    display: flex
    flex-direction: column
    margin-right: 4px
    .icons div
      margin-right: 4px
      margin-bottom: 4px
    .text
      display: flex
      flex-direction: column
      p
        padding: 0
        margin: 0
