@import "src/themeVariable"
.wrapper
  padding: 6px 20px
  .top
    height: 40px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
.info
  display: flex
  flex-wrap: wrap
  color: $text-color
  font-size: 14px
  .infoItem
    width: 33%
    margin-bottom: 20px
