.workDetail
    .ant-descriptions-item-label
        text-align: right
        background-color: #0b579d !important
        color: #fff
        padding: 13px 8px !important
        width: 160px !important
    .ant-descriptions-item-label span::after
        content: ' :'
    .ant-descriptions-item-content
        background-color: rgba(18, 70, 123, 0.38) !important