@import utils

.wrapper
  position: relative
  height: 100%
  @extend .flexBetween
  .videoBox
    position: relative
    box-sizing: border-box
    height: 100%
    padding: 10px
    flex: 1
  .listBox
    position: relative
    box-sizing: border-box
    width: 20%
    height: 100%
    padding: 10px
    overflow-y: auto
    .preview
      margin-bottom: 6px
      width: 100%
      height: 20%
      cursor: pointer
      .image
        height: 100%

.active
  border: 1px red solid
.unActive
  border: 1px #000 solid

.loading
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50% -50%)
