@import "themeVariable"
.modleTitle
    height: 20px
    display: flex
    color: $text-color
    line-height: 20px
    .modelTips
        font-size: 12px
        display: inline-block
        line-height: 20px
        margin-left: 10px
        color: #FFA517

.bottomRight
    width: 100%
    .warningBox
        .warnContent
            display: flex
            line-height: 40px
