.wrapper
    position: relative
    padding: 16px
    .warrningTxt
        padding: 16px
        text-align: center
        line-height: 30px
        color: #a6cdff
        font-size: 14px
    .warrningTxtP
        font-size: 14px
        padding: 4px 0
    .boxBtn
        text-align: center
        padding: 8px 0

        .xcBtn
            margin:4px

