@import "src"
.wrapper
  display: flex
  flex-wrap: wrap
.recordItem
  width: 280px
  height: 220px
  background-color: #063158
  margin: 10px
  .recordTitle
    background-color: #0965ba
    color: #fff
    font-size: 14px
    height: 32px
    line-height: 32px
    padding-left: 4px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin: 0px
  .recordContent
    display: flex
    flex-direction: column
    padding-top: 20px
    padding-left: 10px
    font-size: 12px
    color: #a6cdff
    box-sizing: border-box
    span
      margin-bottom: 6px
      display: inline-block
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
  .viewResult
    text-align: center
    margin-top: 10px
