.wrapper
    position: relative
    width: 100%
    height: 100%
    padding: 10px
    box-sizing: border-box
    .boxData
        margin-bottom: 24px
        .boxTitle
            font-size: 14px
            font-weight: 600
        .boxContent
            padding: 8px
    .dataRow
        .colTitle
            text-align: right