.wrapper
  display: flex
  padding: 3px 0

.selectButton
  margin-right: -9px
  width: 56px
  line-height: 18px
  text-align: center
  font-size: 12px
  cursor: pointer
  user-select: none
  background-size: 100% 100%
  &:nth-last-child(1)
    margin-right: 0

.buttonAct
  @extend .selectButton
  color: #fff
  background-image: url('~images/situation/radio_time_active_c.png')
  &:nth-child(1)
    background-image: url('~images/situation/radio_time_active_l.png')
  &:nth-last-child(1)
    background-image: url('~images/situation/radio_time_active_r.png')

.buttonDef
  @extend .selectButton
  color: #d5e4fa
  background-image: url('~images/situation/radio_time_unactive_c.png')
  &:nth-child(1)
    background-image: url('~images/situation/radio_time_unactive_l.png')
  &:nth-last-child(1)
    background-image: url('~images/situation/radio_time_unactive_r.png')
.buttonActwhite
  @extend .selectButton
  color: #fff
  background-image: url('~images/situation/radio_time_active_c_white.png')
  &:nth-child(1)
    background-image: url('~images/situation/radio_time_active_l_white.png')
  &:nth-last-child(1)
    background-image: url('~images/situation/radio_time_active_r_white.png')

.buttonDefwhite
  @extend .selectButton
  color: #d5e4fa
  background-image: url('~images/situation/radio_time_unactive_c_white.png')
  &:nth-child(1)
    background-image: url('~images/situation/radio_time_unactive_l_white.png')
  &:nth-last-child(1)
    background-image: url('~images/situation/radio_time_unactive_r_white.png')
