.shipIcon
    display: inline-block
    width: 20px
    height: 14px
.ship-icon-30
    @extend .shipIcon
    background: url(~images/ship/map/yuchuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-6
    @extend .shipIcon
    background: url(~images/ship/map/kechuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-7
    @extend .shipIcon
    background: url(~images/ship/map/huochuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-37
    @extend .shipIcon
    background: url(~images/ship/map/youting_g.svg) no-repeat
    background-position: bottom
.ship-icon-4
    @extend .shipIcon
    background: url(~images/ship/map/kechuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-8
    @extend .shipIcon
    background: url(~images/ship/map/jiayouchuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-3
    @extend .shipIcon
    background: url(~images/ship/map/zuoyechuan_g.svg) no-repeat
    background-position: bottom
.ship-icon-55
    @extend .shipIcon
    background: url(~images/ship/map/zhifachuan.svg) no-repeat
    background-position: bottom
.ship-icon-5
    @extend .shipIcon
    background: url(~images/ship/map/teshuchuan_g.svg) no-repeat
    background-position: bottom
