.waraper
    display: flex
    justify-content: space-between
.contents
    display: flex
    justify-content: space-between
.nums
    background: linear-gradient(to bottom,#fff,#12a1ff)
    -webkit-background-clip: text
    font-family: MicrosoftYaHei-Bold
    color:#59bdff
    font-size: 28px
.imgs
    background: url('../../../../../../images/dataCenter/control.png') no-repeat
    background-position-y: 40px
    width: 90px
    text-align: center
.wanrimgs
    background: url('../../../../../../images/dataCenter/warn.png') no-repeat
    background-position-y: 40px
    width: 90px
    text-align: center
.labels
    margin-top: 30px
    color: #a6cdff
    font-size: 14px
    padding-top: 22px
    box-sizing: border-box
.warnnums
    background: linear-gradient(to bottom,#fff,#7ff8ff,#00f0fe)
    -webkit-background-clip: text
    font-family: MicrosoftYaHei-Bold
    color:#7ff8ff
    font-size: 28px