@import utils
@import "themeVariable"

.wrapper
  width: 100%
  font-weight: normal
  .top
    @extend .flexBetween
    margin-bottom: 10px
    color: #fff
    .msg
      display: inline-block
      margin-left: 10px
      color: $text-color
  .content
    display: flex

.wrapperItem
  box-sizing: border-box
  width: 20%
  height: 100%
  padding-right: 10px
  text-align: center
  color: $text-color
  .videoBox
    width: 100%
    height: 160px
    object-fit: cover
  .time
    @extend .textEllipsis
  .button
    color: #ff7875
    cursor: pointer
