.wrapper
  position: absolute
  z-index: 100
  background: rgba(0, 0, 0, 0.8)
  .titlePanel
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 8px
    font-size: 14px
    background-image: linear-gradient(90deg,#1460b5 18%,rgba(20, 96, 181, 0.14) 100%)
    .title
      height: 30px
      line-height: 30px
      background-clip: text
      color: transparent
      background-image: linear-gradient(0deg,#59bdff 50%,#ffffff 100%)
    .close
      cursor: pointer
    .icon
      font-size: 14px
      color: #59bdff
  .contentPanel
    padding: 8px
