@import utils
@import "themeVariable"

.title
  font-weight: bold
  font-size: 14px
  margin-bottom: 4px
  color: #fff

.content
  .itemBox
    display: flex
    .label
      width: 120px
      padding: 0 40px
      line-height: 40px
      background-color: rgba(11,87,157, .58)
      color: #ffffff
      text-align: right
      border-bottom: solid 1px rgba(8,33,60, .58)
    .text
      flex: 1
      padding-left: 20px
      line-height: 40px
      @extend .textEllipsis
      background-color: rgba(18,70,123, .58)
      color: $text-color
      border: solid 1px rgba(8,33,60, .58)
      border-top: 0
