@import "src/themeVariable"
.wrapper
  position: relative
  display: flex
  flex-direction: column
  height: 100%
  >section
    height: calc(100% - 82px)

.minInput
  display: inline-block
  width: 80px
  margin: 0 6px
.split
  display: inline-block
  width: 4px
  line-height: 32px
  text-align: center
  color: $text-color
.itemSpan
  color: $text-color
.button
  margin-right: 10px
