.wrapper
  height: 100%

.chart
  height: calc( (100% - 60px) * 0.6 )

.count
  display: flex
  justify-content: space-between
  height: calc( (100% - 50px) * 0.4 )

.countCard
  position: relative
  section
    margin: 0
