.wapper
    position: relative
    padding: 8px
    height: 1500px
    z-index: 30000

    .boxData
        margin-bottom: 24px
        .panelTitle
            color: #00f0fe
            .iconfont
                font-size: 12px !important
        .boxTitle
            font-size: 14px
            font-weight: 600
            padding-left: 20px
        .boxContent
            padding: 8px
