.wrapper
  position: relative
  padding: 4px
  height: 100%
  width: 100%
  background-image: url('~images/situation/dark/important_medio_item.png')
  background-repeat: no-repeat
  background-size: 100% 100%
  box-sizing: border-box
  cursor: pointer
  >video
    width: 100%
    height: 100%
    border: 1px solid #4470b9
    box-sizing: border-box
.wrapperwhite
  position: relative
  padding: 4px
  height: 100%
  width: 100%
  background-image: url('~images/situation/dark/important_medio_item.png')
  background-repeat: no-repeat
  background-size: 100% 100%
  box-sizing: border-box
  cursor: pointer
  >video
    width: 100%
    height: 100%
    border: 1px solid #00f0ff
    box-sizing: border-box

.alt
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  text-align: center
  >span
    position: relative
    top: 35%
    font-size: 12px
    color: #999
