@import "src/themeVariable"
.wrapper
  .radios
    
    display: inline-block
    margin-left: 50px
    
.modules
  background: url('../../../../../../images/dataCenter/warn.png') no-repeat
  background-position-y: 10px
  background-position-x: 10px
  width: 90px
  text-align: center
.labels
  margin-top: 30px
  color: #a6cdff
  font-size: 14px
  padding-top: 22px
  box-sizing: border-box
.warnnums
  background: linear-gradient(to bottom,#fff,#7ff8ff,#00f0fe)
  -webkit-background-clip: text
  font-family: MicrosoftYaHei-Bold
  color: #7ff8ff
  font-size: 28px

.modelTitle
  height: 34px
  line-height: 34px
  padding-left: 4px
  margin-bottom: 20px
  color: $text-color2
  font-size: 14px
.iconColor
  color: #59bdff
  margin-right: 6px
  font-size: 14px
