.cursor
  cursor: crosshair

.textInfo
  position: relative

.text
  padding: 4px
  text-align: center
  word-break: break-all

.textarea
  width: 100%
  max-height: 100px
  border: none
  background-color: #fff
  resize: none

.textInfoClose
  float: right
  margin-top: 4px
  margin-right: 4px
  font-size: 12px
  color: #999
.exist
  position: absolute
  top: -40px
  left: 0
