.wrapper
    position: relative
    width: 100%
    height: 100%
    background: #081c34
    // background: url('../../images/header/dark/body_bg.jpg')
    // background-size: cover
    .wrapperContent
        position: absolute
        top: 60px
        // z-index: 300
        background: rgba(18, 45, 75, 0)
        width: 100%
        height: calc( 100% - 60px )
        display: flex
        .menu
            width: 200px
        .content
            flex: 1
            padding: 10px 10px 10px 20px
            box-sizing: border-box
            overflow: hidden
    .menulist
        // background: #073055
        background: linear-gradient(180deg,#053564 ,#082846 )
        border-radius: 8px
        height: 100%
        margin-left: 20px
        padding-top: 20px
        box-sizing: border-box
        text-align: left
        padding-left: 10px
