@import "src/themeVariable"

.wrapper
  position: relative
  padding-bottom: 4px
  padding-left: 4px
  padding-right: 4px
  >header
    height: 24px
    line-height: 24px
    font-size: 14px
    color: $text-color2
    text-indent: 8px
    overflow: hidden
  
.contentBox
  max-height: 640px
  overflow-x: hidden
  overflow-y: auto

.content
  margin-bottom: 8px
  border: $border
  >header
    font-size: 14px
    text-indent: 8px
    line-height: 30px
    background-image: $background-color-linear
    >span
      padding-right: 4px
      color: $text-color2

.actions
  max-height: 320px
  overflow-x: hidden
  overflow-y: auto