@import "src/themeVariable"
.wrapper
  display: flex
.ShipInfo
  width: 400px
  display: flex
.behavior
  flex: 1
  color: $text-color
  font-size: 14px
.tags
  margin-left: 10px
.content
  color: $text-color
  font-size: 14px
  display: flex
  flex-direction: column
  justify-content: space-between
.blueFont
  color: $text-color1
  cursor: pointer
  font-size: 14px
.img
  margin-right: 10px
  border: $border
  padding: 2px
