@import "themeVariable"

.wrapper
    width: 410px
    height: 500px
    padding: 10px 30px
    box-sizing: border-box
.listItem
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 14px
    border-bottom: $border-dashed
