@import 'src/themeVariable'
.wrapper
  position: relative
  height: 100%

.content
  height: 100%

.videoWrapper
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.videoBox
  position: relative
  height: 370px
  margin-bottom: 1%
  border: $border

.video
  width: 100%
  height: 100%
  object-fit: fill

.alt
  position: absolute
  top: 40%
  width: 100%
  text-align: center