@import "themeVariable"

.wrapper
  position: relative
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  >section
    flex: 1
    overflow-x: hidden
    overflow-y: auto

.checkboxGroup
  flex-wrap: wrap

.checkbox
  display: inline-block
  margin-right: 8px

.statisticBox
  position: relative
  display: flex

.statisticCard
  display: flex
  flex: 1
  margin-left: 8px
  height: 50px
  background-image: url(~images/popup/panel_bk.png)
  background-size: 100% 100%
  &:nth-child(1)
    margin-left: 0
    .statisticIconAis
      background-image: url(~images/popup/devices.png)
  &:nth-child(2)
    .statisticIconAis
      background-image: url(~images/popup/online.png)
  &:nth-child(3)
    .statisticIconAis
      background-image: url(~images/popup/outline.png)

.statisticIconAis
  width: 40px
  height: 50px
  background-repeat: no-repeat
  background-position: center center

.statisticPanel
  position: relative

.statisticLabel
  height: 25px
  line-height: 28px
  font-size: 12px
  color: $text-color2

.statisticValue
  height: 25px
  line-height: 22px
  font-size: 18px
  font-weight: bolder
  color: $text-color4

.groupCardHeader
  display: flex
  height: 30px
  line-height: 30px

.groupCardTitle
  flex: 1
  color: $text-color2

.checkboxCount
  padding-left: 4px
  color: $text-color4
.checkboxText
  width: 70px