.wrapper
  position: relative
  width: 100%
  height: 100%
  .card
    height: 114px
    padding: 5px 0
    // background: url('../../../../../../images/situation/lw_bg.png') no-repeat
    // background-size: 409px 100%
    box-sizing: border-box
    margin-bottom: 10px
    display: flex
    .cardImg
      margin-right: 19px
      padding: 18px 0 0 0
      width: 101px
      text-align: center
    .cardInfo
      position: relative
      top: 0
      padding: 10px 0 0 0
      cursor: pointer
      .cardStatus
        width: 223px
        height: 12px
        // background: url('../../../../../../images/situation/lw_title_bg.png') no-repeat
        // background-size: 100% 100%
        padding: 0 0 6px 10px
        margin-bottom: 6px
        font-size: 12px

      .cardRow
        height: 12px
        line-height: 12px
        font-size: 12px
        margin-bottom: 6px
        .cardLabel
          letter-spacing: 1px

        .cardValue
          font-size: 12px

          letter-spacing: 1px
.cardone
  background: url('../../../../../../images/situation/lw_bg.png') no-repeat
  background-size: 409px 100%
  color: #d5e6ff
.cardtwo
  background: url('../../../../../../images/situation/lo_bg.png') no-repeat
  background-size: 409px 100%
  color: #d5e6ff
.cardthree
  background: url('../../../../../../images/situation/ly_bg.png') no-repeat
  background-size: 409px 100%
  color: #000
.cardStatusone
  background: url('../../../../../../images/situation/lw_title_bg.png') no-repeat
  background-size: 100% 100%
  color: #d5e6ff
  .cardValue
    color: #d5e6ff
  .cardLabel
    color: #d5e6ff
.cardStatustwo
  background: url('../../../../../../images/situation/lo_title.png') no-repeat
  background-size: 100% 100%
  color: #d5e6ff
  .cardValue
    color: #d5e6ff
  .cardLabel
    color: #d5e6ff
.cardStatusthree
  background: url('../../../../../../images/situation/ly_title.png') no-repeat
  background-size: 100% 100%
  color: #000
  .cardValue
    color: #000
  .cardLabel
    color: #000
