@import "src/themeVariable"

.wrapper
  position: relative
  margin: 4px
  padding: 4px
  border-radius: 8px
  background-color: $background-color4
  >header
    margin-bottom: 8px
  
.typeBox
  display: flex

.label
  line-height: 32px
  text-align: right
  color: $text-color
  &:after
    content: ':'
    display: inline
    margin-left: 2px
    margin-right: 8px

.close
  margin-left: 8px