@import src
@import "themeVariable"

.wrapper
  position: relative
  padding: 8px
  background-color: $background-color-opacity90
  .typeSelect
    min-width: 80px
  .select
    min-width: 260px
  >section
    max-height: 260px
    overflow-y: auto
  >footer
    padding: 6px
    text-align: right
    border-top: solid 1px $border-color

.removeText
  color: $text-color3
  cursor: pointer

.label
  color: $text-color

.list
  border: none
  border-radius: 0