.wrapper
  padding-bottom: 10px
  height: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column
  .table
    flex: 1
    margin: 4px 0
    overflow-y: auto
  .btn
    margin-left: auto
  .pagination
    margin-left: auto
