.contBox
    max-height: 200px
    overflow: hidden
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 6
.notesBox
    color: #a6cdff
    padding: 12px
    box-sizing: border-box
    font-size: 14px