@import "src/themeVariable"
.wrapper
    width: 100%
    height: 100%
    ul
        display: flex
        flex-wrap: wrap
        li
            margin-right: 10px
            margin-bottom: 10px
            font-size: 12px
.card
    width: 120px
    height: 130px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    border: $border
    .name
        display: inline-block
        width: 100%
        text-align: center
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
