@import "themeVariable"

.wrapper
  padding: 8px
  background-color: $background-color-opacity90
  backdrop-filter: blur(1px)
  >section
    margin-bottom: 8px
    max-width: 240px
    max-height: 360px
    overflow-y: auto
  >footer
    text-align: right

.group
  width: 100%