.wrapper
  position: relative
  color: #a6cdff
  >header
    padding: 6px 0

.label
  padding-right: 16px

.box
  margin-bottom: 16px
  background-color: rgba(14,55,110, .6)
  // border: solid 1px #eee
  >header
    padding: 8px
    // border-bottom: solid 1px #eee

.card
  padding: 8px

.boxTableHeader
  background-color: #0b579d
  color: #fff
  >div
    height: 30px
    line-height: 30px
    text-align: center

.boxTable
  padding: 3px 0

.text
  line-height: 32px
  text-align: center

.selectPerson
  display: inline-block

.selectList
  display: inline-block

.faceImg
  width: 60px !important
  height: 60px !important
