@import "src"
.wrapper
  display: flex
  padding: 4px 10px
  box-sizing: border-box
  .left
    width: 260px
    background-color: rgba(11, 44, 79,0.58)
    min-height: 500px
    height: auto
    overflow: hidden
    border-radius: 4px
    margin-right: 20px
    .leftTitle
      height: 28px
      line-height: 28px
      background-color: rgba(11, 87, 157,0.58)
      font-size: 14px
    .checkbox
      padding-left: 10px
  .right
    padding: 20px 10px
    background: rgba(0, 0, 0, 0.02)
    flex: 1
    height: 600px
.leftPepole
  width: 100%
  height: 600px
  overflow-y: scroll
.boxEchartsNode
  height: 500px
