@import "themeVariable"

.wrapper
  position: relative
  user-select: none
  >footer
    margin-top: 8px

.box
  padding: 0 8px

.label
  color: #fff

.value
  color: $text-color
  white-space: nowrap

.action
  margin-right: 8px

.img
  cursor: pointer

.infoBox
  cursor: pointer
