// 序号表示颜色由浅到深，无序号表示标准色

// 全局主色色板
$primary-color: #1890ff
$primary-color-1: #e6f7ff
$primary-color-2: #bae7ff
$primary-color-3: #91d5ff
$primary-color-4: #69c0ff
$primary-color-5: #40a9ff
$primary-color-6: $primary-color
$primary-color-7: #096dd9
$primary-color-8: #0050b3
$primary-color-9: #003a8c
$primary-color-10: #002766

// 文本颜色
$text-color: #666666
$text-color0: #ffffff
$text-color1: #999999
$text-color2: $text-color
$text-color3: #333333
$text-color4: #a6cdff

// 背景颜色
$background-color: #ffffff
$background-color1: $background-color
$background-color2: #fafafa
$background-color3: #f5f5f5
$background-color4: #f0f0f0
$background-color-opacity: rgba(0,0,0,.25)
$background-color-opacity1: $background-color-opacity
$background-color-opacity2: rgba(0,0,0,.5)
$background-color-opacity3: rgba(0,0,0,.75)
$background-color-opacity4: rgba(255,255,255,.25)
$background-color-opacity5: rgba(255,255,255,.5)
$background-color-opacity6: rgba(255,255,255,.75)

// 状态颜色
$success-color: #52c41a
$warning-color: #faad14
$error-color: #f5222d

// 边框样式
$border-radius: 4px
$border-color: #d9d9d9

// 线条颜色
$line-color: #eeeeee
