//背景颜色
$background-color: #2f689e
$background-color2: #071f37

//表格隔行换色两个颜色
$background-color3: #0b2c4f
$background-color4: #0e376e

//其他背景颜色
$background-color5: #0b589e

//带透明度的背景
$background-color-opacity90: rgba(7,32,55,0.9)
$background-color-opacity70: rgba(7,32,55,0.7)
$background-color-opacity20: rgba(7,32,55,0.2)
$background-color-opacity: rgba(47, 104, 158, 0.5)

//背景颜色渐变
$background-color-linear: linear-gradient(to right,#235b8d,#123965)

// table鼠标悬停背景色
$table-hover-background-color: rgba(22,63,110,1)

// table选中背景颜色渐变
$table-selected-background-color-linear: linear-gradient(to right, rgb(41,102,155), rgb(19,59,104))

//边框
$border: solid 1px #2f689e
$border-dashed: dashed 1px #2f689e

//文本颜色
$text-color: #a6cdff
$text-color1: #00f0fe
$text-color2: #ffffff
$text-color3: #71aadf
$text-color4: #59bdff

//placeholder颜色
$placeholder-color: #6b8bb1
