.flexBetween
  display: flex
  justify-content: space-between
  align-items: center

.textEllipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.flexColumnCenter
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.boxShadow
  padding: 15px 25px 5px 25px
  margin-bottom: 25px
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)

.cardShadow
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 16px -8px, rgb(0 0 0 / 5%) 0px 9px 28px, rgb(0 0 0 / 3%) 0px 12px 48px 16px
