.wrapper
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 20px
    display: flex
    .left
        width: 400px
        .btns
            display: flex
            justify-content: center
    .right
        flex: 1
        padding-left: 30px
        min-height: 434px
