@import utils

.wrapper
  padding: 0 10px 20px 10px
  font-size: 12px
  .cardBox
    padding: 6px 0
    border-bottom: 1px solid rgba(89,189,255, .5)
    .topBox
      @extend .flexBetween
      .name
        color: #fff
      .avatar
        margin-right: 6px
        .textBold
          font-weight: bold
          .dealRecord
            border-top: 1px dashed #ccc
