.wrapper
  height: 100%

.header
  display: flex
  width: 100%
  >div
    &:nth-child(1)
      flex: 1
      padding: 2px 0

.content
  height: calc( 100% - 160px )

.count
  display: flex
  justify-content: space-between

.countCard
  position: relative

.shipbox
  height: 33.33%
  overflow: hidden

.personbox
  height: 33.33%
  overflow: hidden
  margin-top: 2px
.carbox
  height: 33.33%
  overflow: hidden
