@import 'src/themeVariable'

.wapper
  display: flex
  padding: 5px
  height: 40px
  >div
    height: 40px
    line-height: 40px
    vertical-align: bottom

.playBut
  width: 40px
  height: 40px
  line-height: 40px
  text-align: center
  border-radius: 40px
  font-size: 24px
  cursor: pointer
  color: $text-color

.playTime
  margin: 0 10px
  color: $text-color

.playSlider
  position: relative
  padding: 5px 0
  flex: 1

.label
  margin-right: 5px
  color: $text-color

.speedInput
  width: 60px

.sliderAlt
  position: absolute
  display: none
  bottom: 30px
  left: 0
  padding: 6px 8px
  font-size: 12px
  color: #fff
  background-color: rgba(0, 0, 0, 0.85)
  border-radius: 6px
