.wrapper
  position: relative
  display: flex
  height: 30px
  padding: 0px 13px
  color: #d5e6ff
  background: url('~images/situation/close_ais_bg.png') no-repeat
  background-size: 100% 100%
  justify-content: space-between
  align-items: center
  box-sizing: content-box
  white-space: nowrap
  cursor: pointer
  .item
    display: inline-block
    font-size: 12px
