.xcBtn
  min-width: 88px
  height: 34px
  box-sizing: border-box
  cursor: pointer
  padding: 4px
  display: flex
  justify-content: center
  align-items: center
  font-size: 14px

.xcBtnDefault
  background-image: url("./btn-default.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  color: #cbe6ff

.xcBtnPrimary
  background-image: url("./btn-primary.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  color: #cbe6ff
  min-width: 88px

