.wrapper
  position: relative
  >footer
    text-align: center

.table
  width: 100%
  border-collapse: collapse
  // border: 1px solid rgb(200, 200, 200)
  td
    background-color: #0e376e
    color: #a6cdff
  .tableTr
    background-color: #0b579d
    color: #fff
    text-align: center
