.header
    padding-top: 10px
.formItem
    margin-bottom: 6px
    position: relative
.submit
    padding-left: 68px
.sendAudio
    position: absolute
    top: 0
    left: 90px
.sendContent
    position: absolute
    bottom: 0
    left: 10px
.btn
    margin-left: 10px
