@import "src/themeVariable"
.wrapper
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  padding: 20px 10px
  box-sizing: border-box
.selectedTaskInfo
  color: $text-color
  .selectedTag
    display: inline-block
    justify-content: center
    align-items: center
    margin-right: 6px
    margin-bottom: 6px
    border: $border
    min-width: 78px
    height: 30px
    line-height: 30px
    padding: 0 6px
    cursor: move
    font-size: 14px
    border-radius: 4px
