.contents
    border: 1px solid #ccc
    width: 300px
    display: flex
    justify-content: space-around
    margin-left: 20px
    margin-bottom: 10px

.bottoms
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    margin-top: 20px
.pages
    text-align: right
    margin-top: 10px