.wrapper
  position: relative
  color: #a6cdff
  font-size: 12px
  word-break: keep-all
  text-shadow: 1px 1px 2px #000
  letter-spacing: 1px
  user-select: none

.textInfoClose
  position: absolute
  top: 2px
  right: -10px
  font-size: 12px
  color: red
