.wrapper
  height: 30px
  background-size: cover
  user-select: none

.alarmTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_warning.png')
.alarmTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_warning_white.png')

.targetTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_important.png')
.targetTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_important_white.png')

.controlTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_control.png')
.controlTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_control_white.png')

.shipTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_ship.png')
.shipTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_ship_white.png')

.collectionTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_collection.png')
.collectionTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_collection_white.png')

.targetTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_taget.png')
.targetTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_taget_white.png')

.videoTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_video.png')
.videoTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_video_white.png')

.placeTitle
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_important.png')
.placeTitle_white
  @extend .wrapper
  background-image: url('~images/situation/dark/box_title_important_white.png')
.personWhite
  @extend .wrapper
  background-image: url('~images/situation/dark/personWhite.png')
.personNight
  @extend .wrapper
  background-image: url('~images/situation/dark/personNight.png')
