@import "src/themeVariable"
.wrapper
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  padding: 0 10px
  box-sizing: border-box

.modelDetail
  width: 100%
  margin-bottom: 20px

.modelAddShow
  animation: addShow 0.8s
  overflow: hidden
  flex: 1

@keyframes addShow
  0%
    transform: scale(0.6)
  100%
    transform: scale(1)

.modelTitle
  height: 34px
  line-height: 34px
  padding-left: 4px
  margin-bottom: 20px
  color: $text-color2
  font-size: 14px
.iconColor
  color: #59bdff
  margin-right: 6px
  font-size: 14px
