.wapper
    position: relative
    width: 100%
    height: 100%
    .panelStatistics
        display: flex
        .item
            flex: 1
            padding: 16px
            box-sizing: border-box
            .title
                height: 30px
            .content
                height: 300px
    .panelTable
        padding: 8px 0

.video
    width: 100px
    height: 100px
    line-height: 100px
