.wrapper
    position: relative
    width: 100%
    height: 100%
    .boxData
        padding-bottom: 24px
        margin-bottom: 24px
        .boxTitle
            font-size: 14px
            font-weight: 600
        .boxContent
            padding: 8px
