@import 'src/themeVariable'
.wrapper
    width: 600px
    height: 380px
    position: relative
    .notes
        width: 74%
        margin: 20px auto
        font-size: 14px
        color: $text-color
.formItem
    margin-bottom: 16px
    width: 450px    
.text
    margin: 0 6px
    position: relative
    top: 4px
.footer
    width: 100%
    position: absolute
    bottom: 30px
    text-align: center

    .cancel
        margin-right: 10px
